<!--Seccion del lista de Menu -->
<section>
  <div class="container">      
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Menu</h3>
             <!-- <button class="btn" (click)="pdf()" >Prueba PDF </button> -->
              <!-- <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                   <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div> 
                </div>
              </div> -->
            </div>
            <!-- /.card-header -->
            <div class="card-body ">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Carrito</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of menu">
                     <td>{{item.id}}</td>
                     <td>{{item.nombre}}</td>
                     <td>{{item.precio | currency:'PEN':'S/'}} </td>
                     <td>
                       
                      <button type="button" class="btn btn-warning"  (click)="pasar(item)" data-bs-toggle="modal" data-bs-target="#agregarPedido">
                        <i class="fas fa-shopping-cart"></i> Comprar
                      </button>
                     </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
  </div>
</section>
<!-- Agregar Pedido -->
<div class="modal fade" id="agregarPedido" tabindex="-1" aria-labelledby="agregarPedido" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrar Pedido </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #botonCerrar>
         
        </button>
      </div>
      
     <!-- <flash-messages></flash-messages> -->

      <div class="modal-body">
        <flash-messages></flash-messages>
        <form  #pedidoForm="ngForm" action="" class="form-control" (ngSubmit)="agregar(pedidoForm)">         
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <input
                type="text"  
                id="idmenu"  
                name="idmenu"  
                class="form-control"  
                #idMenu="ngModel" 
                [(ngModel)]="pedido.idMenu" 
                [ngClass]="{'is-invalid': idMenu.errors && idMenu.touched }"
                required
                minlength=""
                value="" hidden >
                <div [hidden]="!idMenu.errors?.required" class="invalid-feedback">
                  IdMenu Requerido
                </div>
                <div [hidden]="!idMenu.errors?.minlength" class="invalid-feedback">
                  Debe tener al tener mas de un caracter
                </div>
              </div>
            </div>    
          </div>
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label >Plato</label>
                <input 
                type="text" 
                id="nombre" 
                name="nombrePlato" 
                class="form-control" 
                value="{{nombre}}" 
                [(ngModel)]="nombre"
                disabled>
                
              </div>
            </div>    
          </div>     
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label >Precio </label>
                <input 
                type="text" 
                id="precio" 
                name="precio" 
                class="form-control" 
                value="{{precio}}"
                [(ngModel)]="precio" disabled>
              </div>
            </div>    
          </div>
         
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Nombre del  Cliente</label>
                <input 
                  type="text" 
                  id="nombreCliente" 
                  name="nombreCliente" 
                  class="form-control" 
                  placeholder="Enter ..." 
                  #nombreCliente="ngModel" 
                  [(ngModel)]="pedido.nombreCliente" 
                  [ngClass]="{'is-invalid': nombreCliente.errors && nombreCliente.touched }"
                  required
                  minlength="3"
                  value="" >
                <div [hidden]="!nombreCliente.errors?.required" class="invalid-feedback">
                  Nombre  de Cliente Requerido
                </div>
                <div [hidden]="!nombreCliente.errors?.minlength" class="invalid-feedback">
                  Debe tener al tener mas de 3 caracteres
                </div>
               
              </div>
            </div>    
          </div>
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Apellido del  Cliente</label>
                <input 
                  type="text" 
                  id="apellidosCliente" 
                  name="apellidosCliente" 
                  class="form-control" 
                  placeholder="Enter ..."  
                  #apellidosCliente="ngModel" 
                  [(ngModel)]="pedido.apellidosCliente" 
                  [ngClass]="{'is-invalid': apellidosCliente.errors && apellidosCliente.touched }"
                  required
                  minlength="3"
                  value="" >
              </div>
            </div>    
          </div>
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Correo</label>
                <input 
                  type="email" 
                  id="correo" 
                  name="correo" 
                  class="form-control" 
                  placeholder="Enter ..."  
                  #correo="ngModel" 
                  [(ngModel)]="pedido.correo" 
                  [ngClass]="{'is-invalid': correo.errors && correo.touched }"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required
                  minlength="6"
                  value="" >
              <div [hidden]="!correo.errors?.required" class="invalid-feedback">
                Correo requerido
              </div>
              <div [hidden]="!correo.errors?.pattern" class="invalid-feedback">
                Correo no valido
              </div>
              </div>
            </div>    
          </div>
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Telefono</label>
                <input 
                  type="phone" 
                  id="telefono" 
                  name="telefono" 
                  class="form-control" 
                  placeholder="Enter ..."  
                  #telefono="ngModel" 
                  [(ngModel)]="pedido.telefono" 
                  [ngClass]="{'is-invalid': telefono.errors && telefono.touched }"
                  required
                  minlength="8"
                  value="" >
                <div [hidden]="!telefono.errors?.required" class="invalid-feedback">
                  Telefono del cliente
                </div>
                <div [hidden]="!telefono.errors?.minlength" class="invalid-feedback">
                  El telefono debe tener más de 8 caracteres
                </div>
              </div>
            </div>    
          </div>
          <div class="row " >
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Dirección</label>
                <input 
                type="text" 
                id="direccion" 
                name="direccion" 
                class="form-control" 
                placeholder="Enter ..."  
                #direccion="ngModel" 
                [(ngModel)]="pedido.direccion" 
                [ngClass]="{'is-invalid': direccion.errors && direccion.touched }"
                required
                minlength="5"
                value="" >
              <div [hidden]="!direccion.errors?.required" class="invalid-feedback">
                Direccion requerida
              </div>
              <div [hidden]="!direccion.errors?.minlength" class="invalid-feedback">
                Debe tener al tener mas de 5 caracteres
              </div>
              </div>
            </div>    
          </div>
          <div class="row ">
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Cantidad</label>
                <input 
                type="number" 
                name="cantidad" 
                min="1" 
                id="cantidad" 
                class="form-control"  
                placeholder="Enter ..."  
                [(ngModel)]="pedido.cantidad" 
                  value="" >
              </div>
              <br>
              <button type="button" class="btn btn-primary" (click)="multiplicar()">Calcular costo</button>
            </div>    
          </div>
          <div class="row ">
            <div class="col">
              <!-- textarea -->
              <div class="form-group">
                <label>Descripción</label>
                <textarea 
                class="form-control"
                name="txtDescripcion"
                #descripcion="ngModel" 
                [(ngModel)]="pedido.descripcion"  
                rows="3" placeholder="Enter ..."
                 required></textarea>
                <div class="valid-feedback">
                  Campo obligatorio
                </div>
              </div>
            </div>
            
          </div>
          <div class="">
            <div class="col">
              <!-- text input -->
              <div class="form-group">
                <label>Precio</label>
                <input 
                type="number" 
                name="costo" 
                 step="0.01" 
                 min="1" 
                 id="costo"
                  class="form-control"  
                  placeholder="Enter ..."
                  #costo="ngModel" 
                  [(ngModel)]="pedido.costo" 
                  value="{{pedido.costo}}"  required>
                <div class="invalid-feedback">
                 (Solo se permiten números).
                 </div>         
              </div>
            </div>    
          </div> 
          <div class="modal-footer">
        
            <button type="submit"  routerLink="" class="btn btn-success">Registrar</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
